.page {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: #AEDBBF;
  padding: 20px;
  font-family: Arial;
  display: flex;
  flex-direction: column;
}

.backBtn {
  cursor: pointer;
  margin-bottom: 10px;
}

.title {
  text-align: center;
  color: #2F3E2D;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.mainImage {
  width: 100%;
  height: 190px;
  border-radius: 18px;
  object-fit: cover;
}

.section {
  margin-top: 20px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.list {
  margin-top: 10px;
  padding-left: 18px;
  line-height: 1.6;
  font-size: 15px;
}

.iconRow {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 20px;
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  font-weight: 600;
}

.transport {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 600;
}

.bookBtn {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


/* ========================================================= */
/*              SUCCESS POPUP (Centered Message)             */
/* ========================================================= */

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInPopup 0.3s ease-in-out;
  z-index: 9999;
}

.popupBox {
  position: relative;
  background: white;
  padding: 25px 35px;
  width: 80%;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
  text-align: center;
  font-size: 18px;
  color: #2F3E2D;
  animation: slideUp 0.3s ease-in-out;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
  color: #666;
  font-weight: bold;
}

.closeBtn:hover {
  color: #000;
}


/* Animations */
@keyframes fadeInPopup {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(25px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
