.videosPage {
  background-color: #AEDBBF;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial;
  overflow-y: auto;
}

.backBtn {
  cursor: pointer;
  margin-bottom: 10px;
}

.videoTitle {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #2F3E2D;
  margin-top: 10px;
}

/* REELS STYLE SECTION */
.reelsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Single Reel Box */
.reel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reelVideo {
  width: 100%;
  max-width: 420px; /* similar to phone screen width */
  height: 75vh; /* tall like TikTok/Reels */
  border-radius: 20px;
  object-fit: cover;
  background: #000;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}
